@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: #101029;
    --background-variant: #212140;
    --purple: #3F3F79;
    --pink: #F887B0;
    --yellow: #E4D67B;
    --white: #DDDDED;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--background);
    font-family: "Ubuntu", sans-serif;
    color: var(--white);
  }
  
  * {
    box-sizing: border-box;
    transition: 0.25s;
  }
  
  *,
  *:after,
  *:before {
      box-sizing: border-box;
  }