@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* extras */
    --black: "#16130E";
  
    --md-source: #FABC49;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #271900
}